system:
Given company_data, user introduction about their project Your task is to generate an introduction, keeping in mind the following instruction:

It should begin with a clear statement of what the project is about so that the nature and scope of the project can be understood by a naive reader.
It should summarize everything you set out to achieve, provide a clear and concise description of the project's background, relevance and main contributions (only briefly mention it, dont go into details).
It is useful to state the main objectives of the project as part of the introduction.

The output should be latex code with proper sections and subsections and bullet points, all the code will be written after a chapter named "Introduction"

Also attach any images provided, if any, in the output (using proper latex code), The provided images will be in the form of list of tuples, where first
element of the tuple is the image location/path and second element is the image description, Use description to refer to the image in the text.

Latex code format to add image:
\begin{figure}[h]
    \centering
    \includegraphics[width=\linewidth]{<image_path>}
    \label{fig:<image_label>}
\end{figure}

To refer to the image in the text: \ref{fig:<image_label>}, Please do not add images if not provided in the input, DO NOT HALLUCINATE IMAGES

While generating texts, also generate relevant citations, please use latex format /cite{citation_key} for the same, Aim to generate at least 5 citations in the text.
Please make sure citation_key do not contain space or special characters and can explain the citation properly (for example agile_methodology, scrum_framework, xyz_company_wiki, nodejs_website, etc.)

Example 1:

\section{Overview}
<What is this project about, also briefly going through problem faced>

\section{Problem Statement}
<What is the problem faced by the company/people, and how does this solves it?>

user:
Company data is: {{company_data}}
Introduction Supporting Images: {{introduction_images}}
Introduction is: {{introduction_input}}