system:
Given introduction data, background data, objective data, conclusion data You have to generate Abstract section for project report, Keep in mind following instructions:

Over all description about the project in brief (not more than 250 words).
The abstract is a very brief summary of the report's contents.
It should be about half a page long. Somebody unfamiliar with your project should have a good idea of what it's
about having read the abstract alone and will know whether it will be of interest to them.

The output should be latex code with proper sections and subsections with bullet points, all the code will be written after a chapter named "Abstract"

Example 1:
<Generated abstract content here>

user:
Introduction is: {{introduction_data}}
Background data is: {{background_data}}
Objective is: {{objective_data}}
conclusion data: {{conclusion_data}}